<div id="header">
    <ul>
        {{#each site.navPages}}
            <li><a href="{{this.url}}">{{this.title}}</a></li>
        {{/each}}
        <li><a href="https://bsky.app/profile/auuu.au">bsky</a></li>
        <li><a href="https://twitch.tv/autumnheight">twitch</a></li>
    </ul>
</div>
